.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container2 {
  display: flex;
}

.row {
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column;
}

body {
    background-color: black;
}

input {
    background-color: black;
    color: green;
    font-family: 'Monofonto', sans-serif;
    height: 30px;
}

input[type="password"] {
  font-size: 23px;
}

input:focus, textarea:focus {
  border: 1px solid green;
}

h1 {
    color: green;
    font-family: 'Monofonto', sans-serif;
    margin: 50px;
}

.button1 {
  color: white;
  background-color: green;
  border: solid grey;
  font-size: 25px;
  padding: 10px 20px;
  cursor: pointer;
  font-family: 'Monofonto', sans-serif;
}

.button2 {
  color: white;
  background-color: green;
  border: solid grey;
  font-size: 20px;
  padding: 8px 16px;
  cursor: pointer;
  font-family: 'Monofonto', sans-serif;
  margin-left: 20px;
}

p {
  color: green;
}

.ascii-art {
  font-family: monospace;
  white-space: pre;
  color: green;
}

.marginfirst {
  margin: 60px;
}

.marginsecond {
  margin: 60px;
}

.marginthird {
  margin: 100px 130px
}

.row2 {
  display: flex;
  flex-wrap: wrap;
}

.column2 {
  flex-grow: 1;
  width: 33%;
}